/**************************************************************************************
BEGIN : change background color on all pages
**************************************************************************************/
body {
   background-image: url('/images/9.jpg');
   /*background-image: url('/images/17.jpg');*/
   /*background-image: url('/images/background.jpg');*/
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
}
/**************************************************************************************
END : change background color on all pages
**************************************************************************************/

/* CARDS */
.card_header {
	/*background-image: url("/images/14.jpg");*/
	/*background-repeat: no-repeat;*/
	/*background-size: 100% 100%;*/
	/*background-attachment: fixed;*/
	background-color: #000;
	color: white;
	font-weight: bold;
}

.section_header {
	background-image: url("/images/16.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	/*font-weight: bold;*/
}

   /*background-image: url("../images/9.jpg");*/
#card-hover:hover {
   background-image: url("images/17.jpg");
}
